<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<div id="createView" style="min-height: 100vh; background-color: rgb(12 8 39);">

    <nav class="fixed-top loginNav">
        <h1>JUMICI <img src=/images/app/icon.png height="29"></h1>
        <div>
            <a href="/index" class="btn btn-outline-dark btn-nav">Games</a>
            <a href="/logout" class="btn btn-outline-dark btn-nav">Log out</a>
        </div>
    </nav>

    <div class="editBody">
        <!----------MESSAGES----------->

        <% if(message==="iniciate" ){%>
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
            </svg>

            <div class="alert alert-success d-flex align-items-center mt-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    The JSON file has been downloaded.
                </div>
                <button type="button" class="btn-close ms-4" aria-label="Close" data-bs-dismiss="alert"
                    aria-label="Close" style="float: right;"></button>
            </div>

            <%}%>


                <% if(message===true){%>
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                    </svg>

                    <div class="alert d-flex align-items-center" role="alert"
                        style="color: #ffffff; width: 90%; background-color: #ff0017; border-color: #f5c2c7;">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill" />
                        </svg>
                        <div>
                            The creation of the scene has gone wrong. You have written an existing name or
                            you have used
                            a JSON
                            file that is already being used.
                        </div>
                        <button type="button" class="btn-close ms-4" aria-label="Close" data-bs-dismiss="alert"
                            aria-label="Close" style="float: right;"></button>
                    </div>
                    <%}%>


                    <% if(message==="wrongImage"){%>
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
    
                        <div class="alert d-flex align-items-center" role="alert"
                            style="color: #ffffff; width: 90%; background-color: #ff0017; border-color: #f5c2c7;">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <div>
                                You must upload a valid image
                            </div>
                            <button type="button" class="btn-close ms-4" aria-label="Close" data-bs-dismiss="alert"
                                aria-label="Close" style="float: right;"></button>
                        </div>
                        <%}%>



                        <div class="initial">
                            <p style="text-align: center; font-size: large;"><b>CREATE GAME:</b></p>
                            Here you can create the created game. You also have to decide here the correct
                            answers of
                            the game.
                        </div>
                        <div class="m-4" style="width: 70%;">
                            <div style="font-variant: small-caps;">
                                There are 3 ways to create a game:
                            </div>
                            <br>
                            <div class="d-flex justify-content-between align-items-center mb-3 createBotons">
                                <div class="d-flex flex-row ">
                                    <div class="align-items-start ">
                                        <div class="circuloCreate d-flex justify-content-center align-items-center me-3">
                                            1
                                        </div>
                                    </div>

                                    <div>If both the dialogs and the actions have not been created from the
                                        graphic window, if not from the code itself, this is the option to choose. It is
                                        the most versatile option of all. If the JSON file does not yet exist, it can be
                                        downloaded by clicking on the
                                        following
                                        button:
                                    </div>
                                </div>

                                <button onclick="iniciateSceneMethod()" id="iniciateScene" class="btn col-2 createBoton">
                                    Iniciate
                                    Scene
                                </button>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-3 createBotons">
                                <div class="d-flex flex-row justify-content-center align-items-center">
                                    <div class="align-items-start ">
                                        <div class="circuloCreate d-flex justify-content-center align-items-center me-3">
                                            2
                                        </div>
                                    </div>
                                    <div>
                                        This option allows you to create a game using existing dialogs. You must choose
                                        the
                                        file that contains the dialogs.
                                    </div>
                                </div>

                                <a href="/indexCreate" class="btn col-2 createBoton">
                                    Create JSON File</a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-3 createBotons">
                                <div class="d-flex flex-row justify-content-center align-items-center createBotons">
                                    <div class="align-items-start ">
                                        <div class="circuloCreate d-flex justify-content-center align-items-center me-3">
                                            3
                                        </div>
                                    </div>
                                    <div>
                                        This last option allows you to create the dialogues and actions of a game from
                                        the application.
                                    </div>
                                </div>


                                <a href="/indexCreate/write" class="btn col-2 createBoton">
                                    Create Game
                                </a>

                            </div>
                        </div>
                        <div class="editCard">
                            <!------------------------CARD GAME --------------------------->
                            <div class="card" style="min-width: fit-content; margin: 1em; color: black;">

                                <img src="/images/app/ciberseguridad.jpg" class="card-img-top">

                                <div class="card-body">
                                    <h5 class="card-title"><b>
                                            Game name
                                        </b></h5>
                                    <p class="card-text">
                                        Game description
                                    </p>
                                </div>
                            </div>

                            <!------------------------CARD GAME POPUP--------------------------->


                            <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered" style="color: black;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalToggleLabel">Create Game
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>

                                        <form action="/create" method="post">
                                            <div class="modal-body">
                                                <div
                                                    style="font-size: small; margin: 1em; padding:1em; border-radius: 6px; background-color: rgb(57, 96, 97); color: white; min-width: fit-content;">
                                                    Here you will create a new game. You need to choose the
                                                    JSON file of
                                                    the
                                                    game.
                                                    (*) means
                                                    that it is obligatory to fill.
                                                </div>


                                                Name's scene (*):
                                                <input class="form-control" type="text" name="name" placeholder="Scene"
                                                    aria-label="default input example" required="required">

                                                <div class="form-floating">
                                                    <select class="form-select" name="json" id="floatingSelect"
                                                        aria-label="Floating label select example">
                                                        <% for (let filename of filenames){ %>
                                                            <option selected>
                                                                <%=filename %>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                    <label for="floatingSelect" style="font-size: medium;">JSON
                                                        Files</label>
                                                </div>

                                                <p>
                                                    <label for="exampleDataList" class="form-label"
                                                        style="font-size: medium; margin-top: 5px; margin-bottom: 0px;">Image</label>
                                                    <div class="d-flex flex-row">
                                                        <input class="form-control" name="image" list="datalistOptions"
                                                        id="exampleDataList" placeholder="Type to search...">
                                                        <datalist id="datalistOptions">
                                                            <% for (let image of images){ %>
                                                                <option value="/images/app/<%=image%>">
                                                                    <% } %>
                                                        </datalist>
                                                        
                                                    </div>  
                                                      
                                                </p>

                                                Description (*):
                                                <textarea class="form-control" name="description"
                                                    id="exampleFormControlTextarea1" rows="3"
                                                    required="required"></textarea>

                                                Enable for students:

                                                <div class="d-flex flex-row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="enabled"
                                                            value="true" id="flexRadioDefault1" required>
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            True
                                                        </label>
                                                    </div>

                                                    <div class="form-check ms-4">
                                                        <input class="form-check-input" type="radio" name="enabled"
                                                            value="false" id="flexRadioDefault1" required>
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            False
                                                        </label>
                                                    </div>

                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="m-1 btn btn-primary" id="liveToastBtn"
                                                    style="float: right;">Create</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                           


                            <div
                                style="background-color: rgb(0 62 105); border-radius: 8px; color: white; padding: 3em; margin: 2rem; display: flex; justify-content: center; align-items: center; flex-direction: column;">

                                <div>
                                    <p>The game card shows the name, a photo, and a description of the game.
                                    </p>
                                    <p>The fields that contain a (*) cannot be left empty, they are
                                        mandatory to
                                        fill in. In addition, you cannot put a namebor a JSON file that
                                        already corresponds to another scene.</p>
                                    <p>To create a new game card click on the following button. </p>

                                    <div style="display: flex; justify-content: center; text-align: center;">
                                        <a class="btn" data-bs-toggle="modal" href="#exampleModalToggle" role="button"
                                            style="    color: #0c0827!important; width: fit-content; background-color: #ffbb3b;
                    ">Create</a>
                                    </div>
<br>
                                    <div>You can upload new pictures here 
                                    <a class="btn btn-outline-light ms-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="height: fit-content;">
                                        <i class="bi bi-upload"></i>
                                    </a></div>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <form action="/upload/game" method="post" enctype="multipart/form-data">
                                               
                                                    <div class="mb-3">
                                                        <div style="font-variant: small-caps;">If there is no image uploaded, it can be uploaded from
                                                            here:</div>
                                                            <br>
                                                        <label for="formFile" class="mb-2">Upload the new game
                                                            image</label>
                                                        <input class="form-control" type="file" name="game" id="formFile" required>
            
                                                   
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-success">Upload</button>
                                                </div>
                                            </form>
                                        </div>
                                      </div>
                                </div>

                            </div>
                        </div>




                        <!------------------------QUESTIONS AND ANSWERS--------------------------->
                        <% if(answer) { %>
                            <div
                                style="margin: 1em; overflow-x: hidden; display: flex; flex-direction: column; justify-content: center; align-items: center; color: black;">

                                <div class="correctAnswers">
                                    Here are the game questions with their different options. For each
                                    question you can
                                    select
                                    the correct answer and hit the "save" button, in this way the correct
                                    answers will
                                    be saved.
                                </div>
                                <p>

                                <div style="background-color: white; box-shadow: 0 0 5px #CCC; padding: 2em; ">

                                    <% for(let i=0; i < jsonIndex.length; i++) { %>
                                        <div style="font-size: x-large;">Scene <%=jsonIndex[i][0] %>: </div>
                                        <form action="/answers/create/<%=scene.json%>" method="post"
                                            style="margin:1em">
                                            <p>
                                                <b>
                                                    <%=json.sceneArray[jsonIndex[i][0]].test[jsonIndex[i][1]].question%>
                                                </b>
                                            </p>
                                            <p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer"
                                                    value="A" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    <%=json.sceneArray[jsonIndex[i][0]].test[jsonIndex[i][1]].a%>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer"
                                                    value="B" id="flexRadioDefault2" checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    <%=json.sceneArray[jsonIndex[i][0]].test[jsonIndex[i][1]].b%>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer"
                                                    value="C" id="flexRadioDefault2" checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    <%=json.sceneArray[jsonIndex[i][0]].test[jsonIndex[i][1]].c%>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="answer"
                                                    value="D" id="flexRadioDefault2" checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    <%=json.sceneArray[jsonIndex[i][0]].test[jsonIndex[i][1]].d%>
                                                </label>
                                            </div>
                                            <input type="hidden" name="scene" value="<%=jsonIndex[i][0]%>"
                                                id="flexRadioDefault2" checked>
                                            <input type="hidden" name="question" value="<%=jsonIndex[i][1]%>"
                                                id="flexRadioDefault2" checked>
                                            </p>

                                            <%for (let correct of correctAnswers) {%>
                                                <%if(parseInt(correct.scene)===jsonIndex[i][0] &&
                                                    parseInt(correct.question)===jsonIndex[i][1]){ %>
                                                    <div class="pb-3" style="color: red;"> The
                                                        currently correct
                                                        answer is:
                                                        <%=correct.answer%>
                                                    </div>
                                                <%}%>
                                            <%}%>
                                            <button type="submit"
                                                class="m-1 btn btn-outline-info">Save</button>
                                        </form>
                                    <%}%>
                                                    

                                </div>

                                </p>
                            </div>
                            <%}%>












    </div>



</div>

<script src="/game/JUMICI/scene_class.js"></script>
<script src="/game/JUMICI/actions.js"></script>
<script src="/game/JUMICI/createScene.js"></script>