<div style="margin: 1em; overflow-x: hidden;">
    <div style="margin: 1em; padding:1em; background-color: rgb(57, 96, 97); color: white; width:max-content; border-radius: 6px;">
        You need to choose the correct answers for the game.
    </div>
    <p>

        <% for(let i=0; i < json.sceneArray.length; i++) { %>
            <% if(json.sceneArray[i].test!==undefined) { %>
                <div style="font-size: xx-large;">Scene <%=i %>: </div>
                <% for(let j=0; j < json.sceneArray[0].test.length; j++) { %>
                    <form action="/answers/<%=game%>" method="post">
                        <p>
                            <b>
                                <%=json.sceneArray[i].test[j].question%>
                            </b>
                        </p>
                        <p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" value="A" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                <%=json.sceneArray[i].test[j].a%>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" value="B"  id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                <%=json.sceneArray[i].test[j].b%>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" value="C" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                <%=json.sceneArray[i].test[j].c%>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="answer" value="D"  id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                <%=json.sceneArray[i].test[j].d%>
                            </label>
                        </div>
                        </p>
                        <button type="submit" class="m-1 btn btn-outline-info">Save</button>
                    </form>
                <%}%>
            <%}%>
        <%}%>
    </form>
    </p>
</div>