<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7f0b5f5e56.js" crossorigin="anonymous"></script>

<div style="overflow-x: hidden; display: block; background-color: #003f5d; height: 100%;">
    <nav class="fixed-top loginNav">
        <h1>JUMICI <img src=./images/app/icon.png alt="Scene One" height="29"></h1>
        <div>
            <%if (admin) {%>
                <a href="/createShow" class="btn btn-nav">Create new game</a>
                <a href="/resultados" class="btn btn-nav">Student's Results</a>
                <%}%>
                    <a href="/logout" class="btn btn btn-outline-light btn-nav">Log out</a>
        </div>
    </nav>
    <!------------------------INTRO--------------------------->
    <section class="intro">
        <h1 style="font-size: xx-large;">WELCOME TO JUMICI!</h1>
        <p style="font-size: large; padding-left: 3em; padding-right: 3em;">
            Welcome to the Jumici website. Here you will find different games related to cybersecurity to learn in a
            more fun and dynamic way. Here you can select the scene you want to play.</p>
            <div class="createGame">PLAY DIFFERENT GAMES</div>

           
    </section>


    <div class="row row-cols-1 row-cols-md-3 g-4" style="overflow-x: hidden; margin-top: initial;">
        <% for ( let escena of escenas) { %>

            <!------------------------CARD GAME--------------------------->
            <div class="col" style="margin-top: initial; display: flex;">
                <div class="card" style="min-width: fit-content;">
                    <a href="./game/<%=escena.json %>">
                        <img src=<%=escena.rutaImage ? escena.rutaImage : "/images/app/ciberseguridad.jpg" %>
                        class="card-img-top" style="height: 200px;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><b>
                                <%=escena.name%>
                            </b></h5>
                        <p class="card-text">
                            <%=escena.descripcion%>
                        </p>
                      
                            <div
                                style="z-index:1000; display: flex; flex-direction: row; justify-content: space-evenly;">
                                <%if (admin) {%>
                                    <a><i class="fa-solid fa-square-poll-vertical icon"></i></a>
                                    
                                    <a href="/edit/<%=escena.id%>"><i class="fa-solid fa-pen-to-square icon"></i></a> 
                                   
                               
                                    <button type="button" onclick="mialerta();" class="btn" style="padding: 0px;"><a href="/delete/<%=escena.id%>"><i class="fa-regular fa-trash-can icon"></i></a></button>
                                    
                                    <%}%>
                                   <a href="/game/<%=escena.json %>"><i class="fa-regular fa-circle-play icon"></i></a>
                                   
                                
                            </div>
                            
                    </div>
                </div>
            </div>
            <%}%>
    </div>
    
</div>
 
<script>
    function mialerta() {  
        alert("Are you sure you want to delete this game?");
    } 
</script>