<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/7f0b5f5e56.js" crossorigin="anonymous"></script>

<div style="overflow-x: hidden; display: block; background-color: #003f5d; height: 100%;">
    <nav class="fixed-top loginNav">
        <h1>JUMICI <img src=./images/app/icon.png alt="Scene One" height="29"></h1>
        <div>
            <%if (admin) {%>
                <a href="/createShow" class="btn btn-nav">Create new game</a>
                <a href="/results" class="btn btn-nav">Student's Results</a>
                <%}%>
                    <a href="/logout" class="btn btn btn-outline-light btn-nav">Log out</a>
        </div>
    </nav>
    <!------------------------INTRO--------------------------->
    <section class="intro">
        <h1 style="font-size: xx-large;">WELCOME TO JUMICI!</h1>
        <p style="font-size: large; padding-left: 3em; padding-right: 3em;">
            Welcome to the Jumici website. Here you will find different games related to cybersecurity to learn in a
            more fun and dynamic way. Here you can select the scene you want to play.</p>
            <div class="createGame">PLAY DIFFERENT GAMES</div>

           
    </section>

      

    <div class="row row-cols-1 row-cols-md-3 g-4" style="overflow-x: hidden; margin-top: initial;">
        <% for ( let escena of escenas) { %>
            <% if ( escena.enabled || admin) { %>

            <!------------------------CARD GAME--------------------------->
            <div class="col" style="margin-top: initial; display: flex;">
                <div class="card" style="min-width: fit-content;">
                    <a href="./game/<%=escena.json %>">
                        <img src=<%=escena.rutaImage ? escena.rutaImage : "/images/app/ciberseguridad.jpg" %>
                        class="card-img-top" style="height: 200px;">
                    </a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                        <h5 class="card-title"><b>
                                <%=escena.name%>
                            </b></h5>
                            
                            <form action="/enabled/<%=escena.id%>" method="post">
                                <%if(!escena.enabled && admin){%>
                                    <input type="hidden" name="enabled" value=false>
                                    <button type="submit" class="p-0 px-3 btn btn-danger">Disabled</button>
                                <%}%>
                                <%if(escena.enabled && admin){%>
                                    <input type="hidden" name="enabled" value=true>
                                    <button type="submit" class="p-0 px-3 btn btn-success">Enabled</button>
                                <%}%>
                            </form>
                        </div>
                        <p></p>
                        <p class="card-text">
                            <%=escena.descripcion%>
                        </p>
                      
                            <div
                                style="z-index:1000; display: flex; flex-direction: row; justify-content: space-evenly;">
                                <%if (admin) {%>
                                    <a href="/results/<%=escena.id%>"><i class="fa-solid fa-square-poll-vertical icon"></i></a>
                                    
                                    <a href="/edit/<%=escena.id%>"><i class="fa-solid fa-pen-to-square icon"></i></a> 
                                   
                               
                                    <button type="button" class="btn" style="padding: 0px;" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-regular fa-trash-can icon"></i></button>
                                    
                                    <%}%>
                                   <a href="/game/<%=escena.json %>"><i class="fa-regular fa-circle-play icon"></i></a>
                                   
                                
                            </div>
                            
                    </div>
                </div>
            </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete the game? </h5>
              </div>
            <div class="modal-body">
                
                If you delete it, the answers of the students will also be deleted. If all you want is for students not to see it, click on the enabled button.
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="/delete/<%=escena.id%>" class="btn btn-primary">Delete</a>
            </div>
          </div>
        </div>
      </div>



            <%}%>
            <%}%>
    </div>
    
</div>