<div class="bodyCreate" id="testView">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top loginNav p-0" style="height: 8%;">
            <!-- Navbar content -->
            <div class="container-fluid d-flex justify-content-between" style="background-color:#0c0827;">
                <h1>JUMICI <img src=/images/app/icon.png alt="Scene One" height="29"></h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!--NavBar para todos-->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        
                        <div class="d-flex navBot">
                            <li><a href="/createShow/false" class="btn btn-nav">Create new game</a></li>
                            <li><a href="/index" class="btn btn-nav">Games</a></li>
                            <li><a href="/logout" class="btn btn btn-outline-light btn-nav">Log out</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="botonAside" style="overflow: scroll;">
        <div>
            <button class="btn btn-primary d-lg-none botonFilter" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">Toggle offcanvas</button>
        </div>
        <div class="createjson">
            <div class="offcanvas offcanvas-start createAside" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
            <div class="offcanvas-header createAside">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">ACTIONS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body createAside">
                <aside class="createAside">
                    <div id="actionView" class="d-flex flex-column align-items-center">
                        <%if(actions.length!==0){%>
                            <% for(let i=0; i<actions.length; i++) {%>
                                <div class="card mt-3 d-flex flex-column p-2" style="height: fit-content;">
                                    <div class="card-body d-flex flex-row">
                                        <div class="align-items-start">
                                            <div class="circulo d-flex justify-content-center align-items-center">
                                                <%=i+1%>
                                            </div>
                                        </div>
                                        <div class="px-3 text-start">
                                            <p class="mx-2 text-center"><b>ACTION: <%=actions[i][0]%></b> </p>
                                            <div>
                                                <%if(actions[i][0]==="start"){%>
                                                    <div><b>Name: </b> <%=actions[i][1]%></div>
                                                    <div><b>JSON Dialog: </b> <%=actions[i][2]%></div>
                                                    <br>
                                                <%}%>
                                                <%if(actions[i][0]==="test"){%>
                                                    <b>
                                                        <%=jsonFile.sceneArray[actions[i][1][0]].test[actions[i][1][1]].question%>
                                                    </b>
                                                <%}%>
        
                                                <%if(actions[i][0]==="dialog"){%>
                                                    <div>
                                                        <b>
                                                            <%=jsonFile.sceneArray[actions[i][1][1]].dialog[actions[i][1][2]].speaker%>
                                                        </b>
                                                        <div>
                                                            <%=jsonFile.sceneArray[actions[i][1][1]].dialog[actions[i][1][2]].message%>
                                                        </div>
                                                    </div>
                                                    <%if(actions[i-1][1][0]===2){%>
                                                        <div>
                                                            <b>
                                                                <%=jsonFile.sceneArray[actions[i][1][4]].dialog[actions[i][1][5]].speaker%>
                                                            </b>
                                                            <div>
                                                                <%=jsonFile.sceneArray[actions[i][1][4]].dialog[actions[i][1][5]].message%>
                                                            </div>
                                                        </div>
        
                                                    <%}%>
                                                <%}%>
        
                                                <%if(actions[i][0]==="loadCharacter"){%>
                                                    <%if(actions[i][1][0]===2){%>
                                                        <div>
                                                            <div class="border-bottom border-primary">
                                                                CHARACTER
                                                                1:</div>
                                                            <p>
                                                                <b>Photo:</b>
                                                                <%=actions[i][1][1]%>
                                                            </p>
                                                            <p>
                                                                <b>Position: </b>
                                                                <%=actions[i][1][2]%>
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <div class="border-bottom border-primary">
                                                                CHARACTER
                                                                2:</div>
                                                            <p>
                                                                <b>Photo:</b>
                                                                <%=actions[i][1][3]%>
                                                            </p>
                                                            <p>
                                                                <b>Position: </b>
                                                                <%=actions[i][1][4]%>
                                                            </p>
                                                        </div>
                                                        <%}else{%>
                                                            <div>
                                                                <p>
                                                                    <b>Photo:</b>
                                                                    <%=actions[i][1][1]%>
                                                                </p>
                                                                <p>
                                                                    <b>Position: </b>
                                                                    <%=actions[i][1][2]%>
                                                                </p>
                                                            </div>
                                                        <%}%>
                                                    <%}%>
                                                    <%if(actions[i][0]==="background"){%>
                                                        <div>
                                                            <p>
                                                                <b>Photo:</b>
                                                                <%=actions[i][1]%>
                                                            </p>
                                                        </div>
                                                    <%}%>
        
        
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteActi<%=i%>" style="width:fit-content; align-self: center;">
                                        Delete
                                    </button>
                               
                                    <br>
                                                  
                              
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteActi<%=i%>" data-bs-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body" style="color:black ;">            
                                                    If you delete this action, all actions that have already been created after this action will be deleted. 
                                                    <div><b>Do you want to delete this action and the next ones?</b></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <form action="/deleteAction" method="post">
                                                        <input type="hidden" name=index value="<%=i%>">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            <%}%>
                        <%}else{%>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                    </symbol>
                                </svg>
        
                                <div class="alert alert-primary d-flex align-items-center mt-3" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                        aria-label="Info:">
                                        <use xlink:href="#info-fill" />
                                    </svg>
                                    <div>
                                        There is no action saved.
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </aside>
            </div>
            </div>






                <aside class="createAside">
                    <div id="actionView" class="d-flex flex-column align-items-center">
                        <%if(actions.length!==0){%>
                            <% for(let i=0; i<actions.length; i++) {%>
                                <div class="card mt-3 d-flex flex-column p-2" style="height: fit-content;">
                                    <div class="card-body d-flex flex-row">
                                        <div class="align-items-start">
                                            <div class="circulo d-flex justify-content-center align-items-center">
                                                <%=i+1%>
                                            </div>
                                        </div>
                                        <div class="px-3 text-start">
                                            <p class="mx-2 text-center"><b>ACTION: <%=actions[i][0]%></b> </p>
                                            <div>
                                                <%if(actions[i][0]==="start"){%>
                                                    <div><b>Name: </b> <%=actions[i][1]%></div>
                                                    <div><b>JSON Dialog: </b> <%=actions[i][2]%></div>
                                                    <br>
                                                <%}%>
                                                <%if(actions[i][0]==="test"){%>
                                                    <b>
                                                        <%=jsonFile.sceneArray[actions[i][1][0]].test[actions[i][1][1]].question%>
                                                    </b>
                                                <%}%>
        
                                                <%if(actions[i][0]==="dialog"){%>
                                                    <div>
                                                        <b>
                                                            <%=jsonFile.sceneArray[actions[i][1][1]].dialog[actions[i][1][2]].speaker%>
                                                        </b>
                                                        <div>
                                                            <%=jsonFile.sceneArray[actions[i][1][1]].dialog[actions[i][1][2]].message%>
                                                        </div>
                                                    </div>
                                                    <%if(actions[i-1][1][0]===2){%>
                                                        <div>
                                                            <b>
                                                                <%=jsonFile.sceneArray[actions[i][1][4]].dialog[actions[i][1][5]].speaker%>
                                                            </b>
                                                            <div>
                                                                <%=jsonFile.sceneArray[actions[i][1][4]].dialog[actions[i][1][5]].message%>
                                                            </div>
                                                        </div>
        
                                                    <%}%>
                                                <%}%>
        
                                                <%if(actions[i][0]==="loadCharacter"){%>
                                                    <%if(actions[i][1][0]===2){%>
                                                        <div>
                                                            <div class="border-bottom border-primary">
                                                                CHARACTER
                                                                1:</div>
                                                            <p>
                                                                <b>Photo:</b>
                                                                <%=actions[i][1][1]%>
                                                            </p>
                                                            <p>
                                                                <b>Position: </b>
                                                                <%=actions[i][1][2]%>
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <div class="border-bottom border-primary">
                                                                CHARACTER
                                                                2:</div>
                                                            <p>
                                                                <b>Photo:</b>
                                                                <%=actions[i][1][3]%>
                                                            </p>
                                                            <p>
                                                                <b>Position: </b>
                                                                <%=actions[i][1][4]%>
                                                            </p>
                                                        </div>
                                                        <%}else{%>
                                                            <div>
                                                                <p>
                                                                    <b>Photo:</b>
                                                                    <%=actions[i][1][1]%>
                                                                </p>
                                                                <p>
                                                                    <b>Position: </b>
                                                                    <%=actions[i][1][2]%>
                                                                </p>
                                                            </div>
                                                        <%}%>
                                                    <%}%>
                                                    <%if(actions[i][0]==="background"){%>
                                                        <div>
                                                            <p>
                                                                <b>Photo:</b>
                                                                <%=actions[i][1]%>
                                                            </p>
                                                        </div>
                                                    <%}%>
        
        
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAct<%=i%>" style="width:fit-content; align-self: center;">
                                        Delete
                                    </button>
                           
                                    <br>
                                                
                            
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteAct<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body" style="color:black ;">            
                                                    If you delete this action, all actions that have already been created after this action will be deleted. 
                                                    <div><b>Do you want to delete this action and the next ones?</b></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <form action="/deleteAction" method="post">
                                                        <input type="hidden" name=index value="<%=i%>">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}else{%>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                    </symbol>
                                </svg>
        
                                <div class="alert alert-primary d-flex align-items-center mt-3" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                        aria-label="Info:">
                                        <use xlink:href="#info-fill" />
                                    </svg>
                                    <div>
                                        There is no action saved.
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </aside>




                <div style="overflow-y: scroll;">
                
                    <form action="/test" method="post">
                        <div class="card card-body">
                            <div>
                            <% if(jsonFile.sceneArray!== undefined) { %>
                                <% for(let i=0; i < jsonFile.sceneArray.length; i++) { %>
                                    <% if(jsonFile.sceneArray[i].test!==undefined) { %>
                                        <br>
                                        <div style="color: #0058b2; font-size: x-large;font-variant: petite-caps; text-align:center; font-weight: 400;">Scene <%=i %>: </div>
                                        <br>
                                        <% for(let j=0; j < jsonFile.sceneArray[i].test.length; j++) { %>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="test" id="flexRadioDefault1"
                                                    value="<%=i%><%=j%>" required/>
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    <p>
                                                        <b>
                                                            <%=jsonFile.sceneArray[i].test[j].question%>
                                                        </b>
                                                    </p>

                                                    <p>
                                                        <b>a. </b><%=jsonFile.sceneArray[i].test[j].a%>
                                                    </p>
                                                    <p>
                                                        <b>b. </b><%=jsonFile.sceneArray[i].test[j].b%>
                                                    </p>
                                                    <p>
                                                        <b>c. </b><%=jsonFile.sceneArray[i].test[j].c%>
                                                    </p>
                                                    <p>
                                                        <b>d. </b><%=jsonFile.sceneArray[i].test[j].d%>
                                                    </p>
                                                </label>
                                            </div>
                                        <%}%>
                                    <%}%>
                                <%}%>
                                <%}%>    
                            </div>
                            <br>
                            <div class="mx-3">Select what do you want to do next:</div>
                            <div class="d-flex flex-row">
                                <select name="page" class="form-select m-3" aria-label="Default select example"
                                    style="height:fit-content">
                                    <option value="testView" selected>Add another test</option>
                                    <option value="dialogView">New Dialog</option>
                                </select>

                                <button type="submit" class="btn btn-primary m-3"
                                    style="width:fit-content; align-self: flex-end">
                                    Next
                                </button>
                                <button type="button" onclick="testFinal()" class="btn m-3"
                                style="width:fit-content; align-self: flex-end; color:white; background-color: #095f74">
                                    Final
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>    
    </div>
</div>


<script src="/game/JUMICI/scene_class.js"></script>
<script src="/game/JUMICI/actions.js"></script>
<script src="/game/JUMICI/createViewScene.js"></script>